*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   font-family: "Montserrat", sans-serif;
}

img {
   display: block;
   width: 100%;
   height: 100%;
}

h1 {
   text-align: center;
}

span {
   color: #b53471;
}

/* Mobile */
.gallery-section {
   margin: auto;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
}

.flex-container .flex-item {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 300px;
   height: 250px;
}

.flex-container > .flex-item {
   overflow: hidden;
}

.flex-container > .flex-item:hover > img {
   transform: scale(1.5);
   transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (min-width: 600px) {
   .gallery-section {
      max-width: 576px;
   }
}

@media only screen and (min-width: 768px) {
   .gallery-section {
      max-width: 756px;
   }
}

@media only screen and (min-width: 992px) {
   .gallery-section {
      max-width: 1000px;
   }
}
